<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Adding New Volunteer</h1>
   </ion-header-bar>
   <ion-content>
      <div class="card">
         <div class="item item-divider">
            Description
         </div>
         <ion-list>
            <label class="item item-input">
               <span class="input-label">Name</span>
               <input type="text" ng-model="addVolunteer.data.NAME">
            </label>
            <label class="item item-input">
               <span class="input-label">Phone Number</span>
               <input type="tel" ng-model="addVolunteer.data.PHONE">
            </label>
            <label class="item item-input">
               <span class="input-label">Age</span>
               <input type="number" ng-model="addVolunteer.data.AGE">
            </label>
            <label class="item item-input">
               <span class="input-label">E-mail</span>
               <input type="email" ng-model="addVolunteer.data.EMAIL">
            </label>
            <label class="item item-input">
               <span class="input-label">School</span>
               <input type="text" ng-model="addVolunteer.data.SCHOOL">
            </label>
            <label class="item item-input">
               <span class="input-label">Emergency Contact Name</span>
               <input type="text" ng-model="addVolunteer.data.EMERGCONTACT">
            </label>
            <label class="item item-input">
               <span class="input-label">Emergency Phone Number</span>
               <input type="tel" ng-model="addVolunteer.data.EMERGNUMBER">
            </label>
            <li class="item item-toggle">
               Handed in Waiver Form
               <label class="toggle toggle-positive">
                  <input type="checkbox" ng-model="addVolunteer.data.WAIVER">
                  <div class="track">
                     <div class="handle"></div>
                  </div>
               </label>
            </li>
            <li class="item item-toggle">
               Received T-Shirt
               <label class="toggle toggle-positive">
                  <input type="checkbox" ng-model="addVolunteer.data.SHIRT">
                  <div class="track">
                     <div class="handle"></div>
                  </div>
               </label>
            </li>
            <ion-item>
               <button class="button button-block button-positive" ng-click="addVolunteer.add()">
                  Add New Volunteer
               </button>
            </ion-item>
         </ion-list>
      </div>
   </ion-content>
</ion-modal-view>
